.buttn {
  height: 25px;
  width: 100px;
  border-radius: 20px;
  background-color: darkblue;
  color: whitesmoke;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}

.edit {
  width: 300px;
  height: 40px;
  font-size: 15px;
}

.buttn:hover {
  background-color: steelblue;
}

.card {
  margin: auto;
  width: 60%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
}
